@font-face {
    font-family:"The King Of Fighters";
    src:url("The King of Fighters Font.woff2") format("woff2"),url("The King of Fighters Font.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"NK57MonospaceCdBk-Regular";
    src:url("nk57-monospace-cd-bk.woff2") format("woff2"),url("nk57-monospace-cd-bk.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"DS Crystal";
    src:url("cristal.woff2") format("woff2"),url("cristal.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Digital dream";
    src:url("Digitaldream.woff2") format("woff2"),url("Digitaldream.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Commando";
    src:url("commando.woff2") format("woff2"),url("commando.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Conman Regular";
    src:url("ConmanRegular.woff2") format("woff2"),url("ConmanRegular.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Digital Readout Thick Upright";
    src:url("Digirtu_.woff2") format("woff2"),url("Digirtu_.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Garaje53Unicase-Black";
    src:url("Garaje 53 Uni Black.woff2") format("woff2"),url("Garaje 53 Uni Black.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Font";
    src:url("FONT.woff2") format("woff2"),url("FONT.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"IndochineNF";
    src:url("INDON___.woff2") format("woff2"),url("INDON___.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"NewMedia";
    src:url("NewMedia.woff2") format("woff2"),url("NewMedia.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Seven Segment";
    src:url("Seven Segment.woff2") format("woff2"),url("Seven Segment.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Crash";
    src:url("CRASH___.woff2") format("woff2"),url("CRASH___.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gamma Scale";
    src:url("Gamma.woff2") format("woff2"),url("Gamma.woff") format("woff"), format("opentype");
    font-style:normal;font-weight:400;
}
        
        