.Name-link{
    color: #ffffff;
    font-size: 62px;
    font-family: 'Crash';
}
.Name-link:hover{
    color: #bbbbbb;
    font-size: 62px;
    font-family: 'Crash';
    text-decoration: none;
}
.Nav-link {
    /* border: 2px grey outset; */
    border-spacing: 1%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-family:'Avante Go';
    font-size: 28px;
    color: #ffffff;
}
.Nav-link:hover {
    /* border: 2px grey inset; */
    border-spacing: 1%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-family:'Avante Go';
    font-size: 28px;
    color: #bbbbbb;
}


.main-logo {
    width: 420px;
    height: 80px;
    position: absolute;
    top: 5px;
}

nav {
    background-color: #000000;
}
.vectors{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}